* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background: url('assets/freedom.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.content {
  width: 95%;
  padding-top: 10%;
  font-family: "Julius Sans One", sans-serif;
  color: rgba(0,0,0,.7);
}

p {
  text-align: center;
}

.quote {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

.rousseau {
  font-family: "Brush Script MT";
  line-height: 3;
}

img {
  border-radius: 50%;
  width: 2.5rem; 
}

@media screen and (min-width:801px) {
  .quote {
    font-size:2rem;
    }
  .rousseau{
    font-size:1rem;
    }
}
  
  @media screen and (min-width:1501px) {
  .quote {
    font-size:2rem;
    }
  .rousseau{
    font-size:1rem;
    }
}