* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background: url('assets/freedom.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.content {
  width: 1200px;
  max-width: calc(100vw-200px);
  padding-top: 150px;
  font-family: "Julius Sans One", sans-serif;
  color: rgba(0,0,0,.7);
}

p {
  text-align: center;
}

.quote {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 3px;
  line-height: 1.5;
}

.rousseau {
  font-family: "Brush Script MT";
  font-size: 20px;
  line-height: 3;
}